<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{css/index.css}" rel="stylesheet"/>
</head>
<body class="text-center">
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        To be created
    </main>
</body>
</html>